<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
	</head>
	<body>
		<h2>首页</h2>
		<hr>
		<h2>
			从request取值: 
			<span th:text="${user.id}"></span> 
			<span th:text="${user.name}"></span>
		</h2>
	
		<hr>
		<h2>
			从session取值: 
			<span th:text="${session.sessionUser.id}"></span> 
			<span th:text="${session.sessionUser.name}"></span>
		</h2>
	
		<hr style="margin-top: 20px">
		<h2>遍历userList</h2>
		<table border="1px">
			<tr>
				<td>id</td>
				<td>name</td>
				<td>age</td>
			</tr>
			<tr th:each="user,stat:${userList}">
				<td><span th:text="${user.id}"></span></td>
				<td><input readonly th:value="${user.name}"></td>
				<td><input readonly th:value="${user.age}"></td>
			</tr>
		</table>
		
		<hr style="margin-top: 20px">
		<form th:action="@{/add}">
			<input type="text" value="name">
			<br>
			<input type="submit" value="提交">
		</form>
		
		<hr style="margin-top: 20px">
		<a th:href="@{/add(name=get)}">Get请求传参数</a>
		
		<hr style="margin-top: 20px">
		<button type="button" onclick="json()">测试ajax</button>
	
		<script type="text/javascript" th:src="@{/static/js/jquery/jquery-3.4.1.js}"></script>
	
		<script th:inline="javascript" type="text/javascript">
				const path = /*[[${#request.getContextPath()}]]*/
				
				function json(){
					$.ajax({
						url: path + '/json',
						type: 'post',
						data: JSON.stringify({name: "zs"}),
						dataType: 'text',
						contentType: 'application/json;charset=utf-8',
						success: function(data){
							alert(data);
						}
					});
					
				}
		</script>
	</body>
</html>