<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 注解扫描器 -->
	<context:component-scan base-package="com">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>
	
	<!-- 开启spring mvc 配置 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 将静态资源交给servlet容器 -->
	<mvc:default-servlet-handler/>
	<!-- 定制静态资源位置和访问路径 -->
	<mvc:resources location="classpath:/static/" mapping="/static/**" />
	<!-- 本地文件访问 -->
	<mvc:resources location="file:D:\易途JAVA培训\第二阶段\前端文件\CssDayOfficial\image\" mapping="/pic/**" />
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" >
		<property name="prefix" value="/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
</beans>









