<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/static/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">
<title>车辆列表</title>
<style type="text/css">
.carPage {
	width: 500px;
	margin: 0px auto;
	padding-top: 30px;
}

#car {
	width: 1200px;
	height: 1200px;
	margin: 0px auto;
}
</style>

</head>
<body>

	<div id="car">
		<button type="button" class="btn btn-danger" data-toggle="collapse"
			data-target="#demo" aria-expanded="true" aria-controls="demo">
			筛选</button>

		<div id="demo" class="collapse in">
			<form class="form-horizontal" role="form">
				<!-- 1. 品牌 -->
				<div class="form-group">
					<label for="brand" class="col-sm-2 control-label">品牌</label>
					<div class="col-sm-6 input-group" id="brand"></div>
				</div>
				<!-- 2.车系 -->
				<div class="form-group">
					<label for="series" class="col-sm-2 control-label">车系:</label>
					<div class="col-sm-6 input-group" id="series"></div>
				</div>
				<!-- 3.价格 -->
				<div class="form-group">
					<label for="price" class="col-sm-2 control-label">价格:</label>
					<div class="col-sm-6 " id="price"></div>
				</div>

				<!-- 3.车龄 -->
				<div class="form-group">
					<label for="vehicle_age" class="col-sm-2 control-label">车龄:
					</label>
					<div class="col-sm-6 " id="vehicle_age"></div>
				</div>

				<!-- 5.级别 -->
				<div class="form-group">
					<label for="level" class="col-sm-2 control-label">级别:</label>
					<div class="col-sm-3 ">
						<select class="form-control" name="level" id="level">

						</select>

					</div>
					<!-- 6.变速箱 -->
					<label for="gearbox" class="col-sm-2 control-label">变速箱:</label>
					<div class="col-sm-3">
						<select class="form-control" name="gearbox" id="gearbox">

						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="output_volume" class="col-sm-2 control-label">排量:</label>
					<div class="col-sm-3 ">
						<select class="form-control" name="output_volume"
							id="output_volume">

						</select>

					</div>

					<label for="location" class="col-sm-2 control-label">归属地:</label>
					<div class="col-sm-3">

						<input type="text" autocomplete="off" name="location"
							class="form-control" id="location" placeholder="归属地">

					</div>
				</div>
			</form>

		</div>
		<h2>车辆列表</h2>
		<div class="container-fluid">
			<div class="row" id="carList"></div>
		</div>
		<div class="carPage">
			当前第 <span id="pn"></span>页，总共<span id="total"></span>条记录
			<button class="btn btn-primary" type="button" id="first">首页</button>
			<button class="btn btn-danger" type="button" id="pre">上一页</button>
			<button class="btn btn-success" type="button" id="next">下一页</button>
			<button class="btn btn-warning" type="button" id="end">尾页</button>
		</div>
	</div>

	<script th:src="@{/static/js/jquery/jquery.min.js}"
		type="text/javascript"></script>
	<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"
		type="text/javascript"></script>
	<script th:inline="javascript" type="text/javascript">
	const path = /*[[${#request.getContextPath()}]]*/
	
	
    let currentPage=1;
    let end;
    
	$(function(){
		
		
		
		//alert(path)
		et1911.queryList();
	       $("#first").on("click",function(){
	    	   et1911.queryList();
	       })
	       $("#pre").on("click",function(){
	    	   et1911.queryList(--currentPage);
	       })
	       $("#next").on("click",function(){
	    	   et1911.queryList(++currentPage);
	       })
	       $("#end").on("click",function(){
	    	   et1911.queryList(end);
	       })
	       
	      et1911.getBrand();
	      et1911.getSeries('');
	      et1911.queryDict('level');
		  et1911.queryDict('output_volume');
		  et1911.queryDict('gearbox');
		  
		  
	      $('#brand').change(function(){
	    	  let brand = $('input[name="brand"]:checked').val()
	    	  
	    	  //
	    	$('input[name="series"]:checked').attr("checked",false);
	    	  et1911.getSeries(brand);
	    	  et1911.queryList();
	      });
	      $('#series').change(function(){
	    	  et1911.queryList();
	      });
	      $('#level').change(function(){
	    	  et1911.queryList();
	      });
	      $('#output_volume').change(function(){
	    	  et1911.queryList();
	      });
	      $('#gearbox').change(function(){
	    	  et1911.queryList();
	      });
	      $("#location").on("blur",function(){
	    	   et1911.queryList(end);
	       })
	      et1911.getPriceDict();
		  et1911.getVehicleAgeDict();
		
	  		  
	  	  $('input[name=price]').change(function(){
			 	et1911.queryList();
		  });
	  	  
		  $('#vehicle_age').change(function(){
	    	  et1911.queryList();
	      });
			
	      
			
	})
	let et1911 = {
		
		getPriceDict: function(){
			$.ajax({
				url: path +'/dict/price',
				type: 'GET',
				data: '',
				async: false,
				dataType: 'json',
				success: function(res){
					let checkboxc = '';
					for(let price of res){
						checkboxc+="<label class='checkbox-inline'>"
							+"<input name='price' type='checkbox' value='"+price.value+"'>"
							+price.name
							+"</label>"
					}
					$('#price').html(checkboxc)
				}
			});
		},
		
		getVehicleAgeDict: function(){
			$.ajax({
				url: path +'/dict/vehicle_age',
				type: 'GET',
				data: '',
				dataType: 'json',
				async: false,
				success: function(res){
					let radio = '';
				
					$.each(res,function(i,vehicle_age){
						radio+="<label class='radio-inline'>"
							+"<input name='vehicle_age' type='radio' value='"+vehicle_age.value+"'>"
							+vehicle_age.name
							+"</label>"
					})
					$('#vehicle_age').html(radio)
				}
			});
		},
		
		
		queryDict: function(groupId){
			$.ajax({
				url: path + '/dict/' + groupId,
				type: 'GET',
				data: '',
				dataType: 'json',
				success: function(data){
					let option = "<option value=''>==请选择==</option>";
					for(let dict of data){
						option+="<option value='"+dict.value+"'>"
						+dict.name
						+"</option>"
					}
					$('#'+groupId).html(option)
				}
			});
		},
		
		queryList: function(pageNumber,pageSize){
			
			pageNumber = pageNumber || 1;
			pageSize = pageSize || 3;
			
			let brand = $('input[name="brand"]:checked').val() || '';
			let series = $('input[name="series"]:checked').val() || '';
			let level = $('#level').val() || '';
			let output_volume = $('#output_volume').val() || '';
			let gearbox = $('#gearbox').val() || '';
			let location = $('#location').val() || '';
			
			let priceList = [];
			let price =  $('input[name="price"]:checked').each(function(){
				priceList.push(this.value);
			})
			
			let vehicle_age = $('input[name="vehicle_age"]:checked').val() || '';
			
			$.ajax({
				url: path + '/car/list',
				type: 'GET',
				data: 'pageNumber='+pageNumber+'&pageSize='+pageSize
				+'&brand='+brand
				+'&series='+series
				+'&level='+level
				+'&outputVolume='+output_volume
				+'&gearbox='+gearbox
				+'&location='+location
				+'&priceList='+priceList
				+'&vehicleAge='+vehicle_age,
				dataType: 'json',
				success: function(data){
					currentPage = data.pageNumber;
	                end = data.pageCount;
	                $("#pn").text(data.pageNumber);
	                $("#total").text(data.total);
					
	                let divs ='';
					$.each(data.rows,function(index,car){
						divs+="<div class='col-xs-6 col-md-4'>"
							+"<img class='img-thumbnail' src='"+path+car.pic+"'><br>"
							+"<span>"+car.levelName+"</span><br>"
							+"<span>"+car.gearboxName+"</span>"
							+"<span>"+car.outputVolumeName+"</span><br>"
							+"<span>"+car.price+"万</span><br>"
							+"<span>"+car.licensingTime+"</span>"
							+"</div>"
					})
					$('#carList').html(divs)
					if(data.first){
						$('#first').attr('disabled','disabled')
						$('#pre').attr('disabled','disabled')
					}else{
						$('#first').removeAttr('disabled')
						$('#pre').removeAttr('disabled')
					}
					
					if(data.last){
						$('#end').attr('disabled','disabled')
						$('#next').attr('disabled','disabled')
					}else{
						$('#end').removeAttr('disabled')
						$('#next').removeAttr('disabled')
					}
				}
			});
			
		},
		
		
		getBrand: function(){
			$.ajax({
				url: path + '/car/getBrand',
				type: 'GET',
				data: '',
				dataType: 'json',
				success: function(data){
					let radio = '';
					for(let brand of data){
						radio+="<label class='radio-inline'>"
						+"<input name='brand' type='radio' value='"+brand+"'>"
						+brand
						+"</label>"
					}
					$('#brand').html(radio)	
				}
			});
			
		},
		getSeries: function(brand){
			$.ajax({
				url: path + '/car/getSeries',
				type: 'GET',
				data: 'brand='+brand,
				dataType: 'json',
				success: function(data){
					let radio = '';
					for(let series of data){
						radio+="<label class='radio-inline'>"
						+"<input type='radio' name='series' value='"+series+"'>"
						+series
						+"</label>"
					}
					$('#series').html(radio)
				}
			});
		}
		
	} 
	
	
	/* function getSeriesByBrand(brand){
		$.ajax({
			url: path + '/car/getSeries',
			type: 'GET',
			data: 'brand='+brand,
			dataType: 'json',
			success: function(data){
				let radio = '';
				for(let car of data){
					radio+="<label class='radio-inline'>"
					+"<input type='radio' name='series' value='"+car+"'>"
					+car
					+"</label>"
				}
				$('#series').html(radio)
			}
		});
	}
	 */
	

</script>
</body>
</html>










