<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.CarMapper">
	
    <insert id="addCar" parameterType="Car">
    	INSERT INTO t_springmvc_car (
    	brand,series,price,licensing_time,level,
    	gearbox,output_volume,mileage,location,pic,summary,create_time
    	) 
    	VALUES (
	    	#{brand},
	    	#{series},
	    	#{price},
	    	#{licensingTime},
	    	#{level},
	    	#{gearbox},
	    	#{outputVolume},
	    	#{mileage},
	    	#{location},
	    	#{pic},
	    	#{summary},
	    	now()
    	)
    </insert>
    
    <select id="queryList" parameterType="Car" resultType="CarVo">
    	select
    		 c.id, 
    		 c.brand,
		     c.series,
			 c.price,
			 c.licensing_time as licensingTime,
			 c.level,
 			 c.gearbox,
			 c.output_volume as outputVolume,
			 c.mileage,
			 c.location,
			 c.pic,
			 c.summary,
			 c.create_time as createTime,
			 t1.name as levelName,
			 t2.name as gearboxName,
			 t3.name as outputVolumeName
			 from t_springmvc_car c 
			 left join t_springmvc_dict t1 on c.level = t1.value and t1.group_id = 'level' 
			 left join t_springmvc_dict t2 on c.gearbox = t2.value and t2.group_id = 'gearbox' 
			 left join t_springmvc_dict t3 on c.output_volume = t3.value and t3.group_id = 'output_volume' 
    	 <where>
    	 	<if test="brand != null and brand !=''">
    	 		and brand = #{brand}
    	 	</if>
    	 	<if test="series != null and series !=''">
    	 		and series = #{series}
    	 	</if>
    	 	<if test="level != null and level !=''">
    	 		and level = #{level}
    	 	</if>
    	 	<if test="gearbox != null and gearbox !=''">
    	 		and gearbox = #{gearbox}
    	 	</if>
    	 	
    	 	<if test="outputVolume != null and outputVolume !=''">
    	 		and output_volume = #{outputVolume}
    	 	</if>
    	 	<if test="location != null and location !=''">
    	 		and location like concat('%',#{location},'%')
    	 	</if>
    	 	<if test="priceMapList != null and priceMapList.size() != 0 ">
    	 		and 
    	 		<foreach collection="priceMapList" item="priceMap" open="(" separator="or" close=")">
    	 			price between #{priceMap.start} and #{priceMap.end}
    	 		</foreach>
    	 	</if>
    	 	<if test="startYear !=null and startYear != 0">
    	 		and str_to_date(licensing_time,'%Y-%m') 
    	 		>= DATE_SUB(CURDATE(), INTERVAL #{startYear} YEAR)
    	 	</if>
    	 	<if test="endYear !=null and endYear != 0">
    	 		<![CDATA[
    	 		and str_to_date(licensing_time,'%Y-%m') 
    	 		<= DATE_SUB(CURDATE(), INTERVAL #{endYear} YEAR)
    	 		]]>
    	 	</if>
    	 </where>
    </select>
    
    <select id="getAllBrand" resultType="String">
    	select brand from t_springmvc_car c group by brand
    </select>
    
    <select id="getSeriesByBrand" parameterType="String" resultType="String">
    	select series from t_springmvc_car 
    	<where>
    		<if test="brand !=null and brand != ''">
    			brand = #{brand}
    		</if>
    	</where>
    		group by series
    	<if test="brand ==null or brand == ''">
    		limit 10 
    	</if>
    </select>
</mapper>





