<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.2.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd">
	
	<!-- 注解扫描器 -->
	<context:component-scan base-package="com.etoak">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
		<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	<!-- 排除注解 -->
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Service"/>
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
	
	</context:component-scan>
	
	

	
	<!-- 开启spring mvc 配置 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 将静态资源交给servlet容器 -->
	<mvc:default-servlet-handler/>
	<!-- 配置的图片访问路径 -->
	<mvc:resources location="file:d:/Test file upload/" mapping="/pic/**"></mvc:resources>

	<!-- 整合Thymeleaf -->
	<bean id="templateResolver" class="org.thymeleaf.spring5.templateresolver.SpringResourceTemplateResolver">
		<property name="prefix" value="/templates/" />
		<property name="suffix" value=".html" />
		<property name="characterEncoding" value="UTF-8" />
		<property name="templateMode" value="HTML" />
		<property name="cacheable" value="false" />
	</bean>
	
	<bean id="templateEngine" class="org.thymeleaf.spring5.SpringTemplateEngine">
		<property name="templateResolver" ref="templateResolver" />
	</bean>
	
	<bean class="org.thymeleaf.spring5.view.ThymeleafViewResolver">
		<property name="templateEngine" ref="templateEngine" />
		<property name="characterEncoding" value="UTF-8" />
	</bean>
	
	<!-- 配置文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- value的值是上传文件的最大值  -->
		<property name="maxUploadSize" value="2097152000"></property>
	</bean>
	
	
	<mvc:view-controller path="/" view-name="index" />
	<mvc:view-controller path="/user/toLogin" view-name="login" />
	
	
	
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
		<!-- 被拦截的 -->
			<mvc:mapping path="/**"/>
			<!-- 不被拦截的 -->
			<mvc:exclude-mapping path="/static/**"/>
			<mvc:exclude-mapping path="/code"/>
			<mvc:exclude-mapping path="/user/toLogin"/>
			<mvc:exclude-mapping path="/user/login"/>
			<bean class="com.etoak.interceptor.Logininterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
</beans>









